{% extends 'base/productbase.html' %}

{% block last_product %}
{% for product in products %}
<div class="single-product">
    <div class="product-f-image">
        <img src="{{ product.image }}" alt="">
        <div class="product-hover">
            <a href="javascript:;" onclick="addToCart({{product.id}}, '{{product.name}}', {{ product.price }})" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Thêm vào giỏ hàng</a>
            <a href="{{ url_for('product_detail', product_id=product.id) }}" class="view-details-link"><i class="fa fa-link"></i> Chi tiết</a>
        </div>
    </div>

    <h2><a href="{{ url_for('product_detail', product_id=product.id) }}">{{ product.name }}</a></h2>

    <div class="product-carousel-price">
        <ins>{{ "{:,.0f}".format(product.price) }} VNĐ</ins>
    </div>
</div>
{% endfor %}
{% endblock %}


